body
{
    width:960px;
    height:100%;
}
#container
{
    width:960px;
    height:100%;
    margin-left:10%;
    margin-right:10%;
}
#header
{
    width:960px;
    height:150px;
}
#navigation
{
    float:left;
    width:320px;
    height:100px;
}
#content-area
{
    float:right;
    width:640px;
}
#footer
{
    width:960px;
    float:left;
    
}