/*Printable sida */
@media print
{
	a:after
	{
		content:" (" attr(href) ") ";
		font-size:0.8em;
		font-weight:normal;
		text-decoration:none;
	}
	#navigation
	{
		display:none;
		z-index:0;
		width:0;
		position:relative;
	}
	#header
	{
		margin-left:10%;
		margin-right:10%;
	}
	#header h1
	{
		font-family:"Times New Roman", Times, serif;
		font-size:35px;
	}
	#container
	{
		float:left;
		width:100%;
		margin-left:10%;
		margin-right:10%;
	}
	#content-area
	{
		margin-right:10%;
		margin-left:10%;
		clear:both;
		width:100%;
		z-index:100;
	}
	#footer
	{
		margin-left:10%;
		margin-right:10%;	
	}
	#content-area p,h1,h2,h3
	{
		font-family:"Times New Roman", Times, serif;
		font-size:18px;
		position:relative;
		z-index:1;
	}
}
/*Mobil version*/
@media only screen 
and (max-device-width: 480px) 
{
	body
	{
		top:0px;
		max-width:480px;
	}
	#container
	{
		max-width:480px;
		margin-left:0;
		left:0;
		top:0px;
		padding:0 auto;
		position:absolute;
		overflow:hidden;
	}
	#header
	{
		max-width:480px;
		height:350px;
		left:0;
		margin:0;
		top:0;
	}
	#header img
	{
		margin-top:0;	
	}
	#vektor
	{
		width:460px;
		height:460px;	
	}
	#footer
	{
		max-width:480px;
	}
	#navigation
	{
		width:480px;
		min-width:480px;
	}
	#navigation li,ul,a
	{
		width:480px;
	}
	.menu
	{
		width:480px;
		min-width:100%;	
	}
	#content-area
	{
		width:480px;
		max-width:480px;
		margin-left:0px;
		position:relative;
		margin-top:150px;
	}
	#form
	{
		max-width:460px;
	}
	#upper-form
	{
		width:460px;
	}
	#lower-form
	{
		width:460px;	
	}
	#movie
	{
		width:300px;
		height:180px;	
	}
}


/* Normal sida */
body
{
	background:url(pics/bg.png) fixed repeat-x;;
	background-color:#1c5a85;
}
.right
{
	float:right;
	width:200px;
	height:200px;
	padding:5px;
}
h1,h2,p
{
	font-family:Arial, Helvetica, sans-serif;	
}
#container
{
    width:960px;
    height:auto;
	margin:0 auto;
	top:0;
}
#logo
{
	margin-top:10px;	
}
#header
{
    width:960px;
    height:150px;
	background-color:#93B1C6;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
#navigation
{
    width:200px;
    height:150px;
	float:left;
	font-size:1em;
	font-family:Verdana, Geneva, sans-serif;
}
.menu
{
	overflow:hidden;
	width:200px;
	padding:0;
	margin-top:5px;
	float:left;
	display:block;

}
.active
{
	color:#CCC;
}
.buttons
{
	color:#FFF;

}
#navigation a
{
	text-decoration:none;
	text-shadow:1px 1px #000;
	display: block;
	width:100%;
}
#navigation li:hover
{
	background-color:#103D50;
}
#navigation li
{
	width:auto;
	list-style-type:none;
	margin-top:5px;
	padding:0;
	height:25px;
	-o-transition:1s;
	-ms-transition:1s;
	-moz-transition:1s;
	-webkit-transition:1s;
	background-color:#467386;
	padding-left:20px;
}
#content-area
{
    float:right;
    width:750px;
	margin-top:5px;
	background-color:#F5F5F5;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
#content-area p,h2,h1,a,video
{
	margin-left:5px;
	margin-right:5px;	
}
#footer
{
	background-color:#93B1C6;
    width:960px;
	margin-top:5px;
    float:left;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
#forumlär p
{
	margin-left:5px;
	margin-right:5px;
	font-family:Arial, Helvetica, sans-serif;
	text-shadow:1px #333;
}
#form
{
	font-family:Arial, Helvetica, sans-serif;
	margin-left:5px;
	margin-right:5px;
	margin-top:5px;
	margin-bottom:5px;
	width:500px;
	display:block;
}
#form p
{
	margin-bottom:0;
	text-shadow:1px 1px #CCC;
	color:#09C;	
}
#lower-form
{
	margin-top:5px;	
}
#upper-form
{	
}
#form-button
{
	width:150px;
	color:#FFF;
	background-color:#09C;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-o-transition:1s;
	-ms-transition:1s;
	-moz-transition:1s;
	-webkit-transition:1s;
}
#form-button:hover
{
	background-color:#06C;
}
.active
{
	
}
#start
{
	background:url(pics/sprite.png) 0px -48px no-repeat;
}
#start:hover
{
	background:url(pics/sprite.png)0px 0px no-repeat;
	
}
#lab
{
	background:url(pics/sprite.png) 0px -142px no-repeat;	
}
#lab:hover
{
	background:url(pics/sprite.png) 0px -94px no-repeat;
}
#pres
{
	background:url(pics/sprite.png) 0px -238px no-repeat;
}
#pres:hover
{
	background:url(pics/sprite.png) 0px -190px no-repeat;		
}
#kontakt
{
	background:url(pics/sprite.png) 0px -334px no-repeat;	
}
#kontakt:hover
{
	background:url(pics/sprite.png) 0px -286px no-repeat;		
}
#table th, td, tr
{
	border: 1px solid black;	
}