@charset "utf-8";
/* CSS Document */
body
{
	background-color:#FC3;	
}
#container
{
	margin:0 auto;
	width:75%;
}

/*Bild stilerna*/
.images a
{
	background-color:#FFF;
	padding:12px 12px 30px;
	margin:15px;
	float:left;
	text-align:center;
	text-decoration:none;
	-webkit-box-shadow:0 5px 5px rgba(0,0,0, .4);
	-moz-box-shadow:0 5px 5px rgba(0,0,0, .4);
	box-shadow:0 5px 5px rgba(0,0,0, .4);
	-webkit-transition: all .10s linear;
	-moz-transition: all .10s linear;
	transition: all .10s linear;
	position:relative;
}
.images a:after
{
	color:#000;
	content:attr(title);
	position:relative;
	top:20px;
	font-size:15px;
}
.images img
{
	display:block;
	width:inherit;	
}


/*Var andra bild kommer vara lutad 6grader*/
.images a:nth-child(2n)
{
	-webkit-transform:rotate(6deg);
	-moz-transform: rotate(6deg);
	transform:rotate(6deg);	
}